# Object files
*.o
ctags
CrashTest*
atos
debug_atos
test.sh
TestMac*
core
# tags

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
