# Object files
*.o
ctags
UIKit
atos
atosl
debug_atos
debug_atosl
#test.sh
#TestMac*
core
tags
*.swp

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
